:root {
  --white-color: #fff;
  --primary-color: #f07e27;
  --primary-color-dark: #de6b0e;
  --secondary-color: #e6513e;
  --secondary-color-dark: #c23c2a;
  --primary-gradient: linear-gradient(var(--primary-color) 0%, #f8a551 100%);
  --primary-gradient-180: linear-gradient(180deg, var(--primary-color) 0%, #f8a551 100%);

  --tw-shadow-color: red;

  --status-badge-pending: #d6a779;
  --status-badge-approved: #3195a5;
  --status-badge-executed: #1abc9c;
}
